* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 800px;
  height: 250px;
  margin: 100px auto 0 auto;
  border: 1px solid red;
  
}

/* Timer Section */
.timerWrapper {
 width: 50%;
 border: 1px solid blue;
 float: left;
}

.timerWrapper h2 {
  text-align: center;
  margin: 10px 0;
}

#timer {
  border: 1px solid #000;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 35px;
  margin: 0 auto;
}
input {
  text-align: center;
}

#count {
  font-size: 50px;
}

/* Stopwatch Section */
.stopwatchWrapper {
 width: 50%;
 border: 1px solid blue;
 float: left; 
}

.stopwatchWrapper h2 {
  text-align: center;
  margin: 10px 0;
}

#stopwatch {
  border: 1px solid #000;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
  padding-top: 35px;
  margin: 0 auto;
}
