* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.swContainer {
  width: 1000px;
  height: 400px;
  margin: 100px auto 0 auto;
  border: 1px solid red;
  
} 
#stopwatch {
 width: 100px
}